<div class="code-editor">
  <ul class="nav code-editor-tabs" role="tablist">
    <% files.each_with_index do |file, i| %>
      <li class="nav-item" role="presentation">
        <button class="code-editor-tab<%= " active" if i.zero? %>"
                id="<%= uid %>-tab-<%= i %>" type="button" role="tab"
                data-bs-toggle="tab" data-bs-target="#<%= uid %>-pane-<%= i %>"
                aria-controls="<%= uid %>-pane-<%= i %>" aria-selected="<%= i.zero? %>">
          <span class="code-editor-dot code-editor-dot--<%= language(file.filename) %>" aria-hidden="true"></span>
          <%= basename(file.filename) %>
        </button>
      </li>
    <% end %>
  </ul>

  <div class="tab-content code-editor-panes">
    <% files.each_with_index do |file, i| %>
      <div class="tab-pane<%= " active" if i.zero? %>" id="<%= uid %>-pane-<%= i %>"
           role="tabpanel" aria-labelledby="<%= uid %>-tab-<%= i %>">
        <pre class="code-editor-body"><code><%= file.code %></code></pre>
      </div>
    <% end %>
  </div>
</div>
